#  PREDICTING ENERGY EFFICIENCY OF BUILDINGS (Using Regression Models) - Project
### By: Ajibade Abdulquddus
<img src='energy2.jpg' />

The <a href src='https://archive.ics.uci.edu/ml/machine-learning-databases/00374/'>dataset</a> for this project is the Appliances Energy Prediction data. The data set is at 10 min for about 4.5 months. The house temperature and humidity conditions were monitored with a ZigBee wireless sensor network. Each wireless node transmitted the temperature and humidity conditions around 3.3 min. Then, the wireless data was averaged for 10 minutes periods. The energy data was logged every 10 minutes with m-bus energy meters. Weather from the nearest airport weather station (Chievres Airport, Belgium) was downloaded from a public data set from Reliable Prognosis (rp5.ru), and merged together with the experimental data sets using the date and time column. Two random variables have been included in the data set for testing the regression models and to filter out non predictive attributes (parameters). The attribute information can be seen below.

Attribute Information:

Date, time year-month-day hour:minute:second

Appliances, energy use in Wh

lights, energy use of light fixtures in the house in Wh

T1, Temperature in kitchen area, in Celsius

RH_1, Humidity in kitchen area, in %

T2, Temperature in living room area, in Celsius

RH_2, Humidity in living room area, in %

T3, Temperature in laundry room area

RH_3, Humidity in laundry room area, in %

T4, Temperature in office room, in Celsius

RH_4, Humidity in office room, in %

T5, Temperature in bathroom, in Celsius

RH_5, Humidity in bathroom, in %

T6, Temperature outside the building (north side), in Celsius

RH_6, Humidity outside the building (north side), in %

T7, Temperature in ironing room , in Celsius

RH_7, Humidity in ironing room, in %

T8, Temperature in teenager room 2, in Celsius

RH_8, Humidity in teenager room 2, in %

T9, Temperature in parents room, in Celsius

RH_9, Humidity in parents room, in %

To, Temperature outside (from Chievres weather station), in Celsius

Pressure (from Chievres weather station), in mm Hg

RH_out, Humidity outside (from Chievres weather station), in %

Wind speed (from Chievres weather station), in m/s

Visibility (from Chievres weather station), in km

Tdewpoint (from Chievres weather station), Â°C

rv1, Random variable 1, nondimensional

rv2, Random variable 2, nondimensional

________________________________________________________________
________________________________________________________________
________________________________________________________________

**Importing important libraries**

In [1]:
import numpy as np
import pandas as pd

**Reading the data as a DataFrame called 'df' and checking its head:**

In [2]:
df= pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

**Fitting a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6) and finding the R-Squared value:**

In [3]:
from sklearn.linear_model import LinearRegression

In [4]:
model = LinearRegression()

In [7]:
x=df[['T2']]
y= df[['T6']]

In [8]:
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [9]:
from sklearn.metrics import r2_score

In [10]:
# Question 12

r2_score = r2_score(x, y)
round(r2_score, 2)

-35.39

**Now we'll normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]**

**We'll then split the Data into training and testing data and run a multiple linear regression using the training set then evaluate the model on the test set:**

In [12]:
df=df.drop(['date','lights'], axis=1)
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [13]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

C:\Users\Ajisco\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [15]:
features_df = normalised_df.drop(columns=['Appliances'])
heating_target = normalised_df['Appliances']

In [16]:
features_df.head()

,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,0.381691,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,0.381691,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,0.380037,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,0.380037,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,0.380037,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [17]:
from sklearn.model_selection import train_test_split

In [61]:
X= features_df
y= heating_target

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [63]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

**Finding the  Mean Absolute Error (in two decimal places):**

In [64]:
# Question 13

from sklearn.metrics import mean_absolute_error
predicted_values= model.predict(X_test)
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

**Finding the Residual Sum of Squares (in two decimal places):**

In [65]:
# Question 14

rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

**Finding the Root Mean Squared Error (in three decimal places):**

In [66]:
# Question 15

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

**Finding the Coefficient of Determination/ R-Squared score (in two decimal places):**

In [67]:
# Question 16

from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

**Now, we'll train a Ridge regression model with an alpha value of 0.4 and find if there is any change to the root mean squared error (RMSE) when evaluated on the test set**

In [47]:
X= features_df
y= heating_target

In [48]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [49]:
# Question 18

predicted_values= ridge_reg.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

We can notice from the result above that there is no change to the root mean squared error (RMSE) when evaluated on the test set compared to the RMSE of the LinearRegression model.
_______

**Now we'll train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it.**

In [52]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

**Finding the new RMSE with the lasso regression:**

In [53]:
# Question 20

predicted_values= lasso_reg.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.094

**Comparing the effects of regularisation:**

In [30]:
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
linear_model_weights = get_weights_df(model, X_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, X_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_weight')
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [36]:
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0           rv2        -2.310353e+10      0.000743     -0.000000
1          RH_2        -4.567347e-01     -0.401134     -0.000000
2         T_out        -3.218519e-01     -0.250765      0.000000
3            T2        -2.362082e-01     -0.193880      0.000000
4            T9        -1.899433e-01     -0.188584     -0.000000
5          RH_8        -1.576113e-01     -0.156596     -0.000110
6        RH_out        -7.766027e-02     -0.050541     -0.049557
7          RH_7        -4.460062e-02     -0.046291     -0.000000
8          RH_9        -3.980315e-02     -0.041701     -0.000000
9            T5        -1.566011e-02     -0.020727     -0.000000
10           T1        -3.281051e-03     -0.021549      0.000000
11  Press_mm_hg         6.844854e-03      0.006516     -0.000000
12           T7         1.031653e-02      0.010021     -0.000000
13   Visibility         1.230660e-02      0.012032      0.000000
14         RH_5         1.600972e-02      0.016176      0.000000
15         RH_4         2.639568e-02      0.024168      0.000000
16           T4         2.898840e-02      0.027006     -0.000000
17    Windspeed         2.918880e-02      0.030463      0.002912
18         RH_6         3.804821e-02      0.035023     -0.000000
19         RH_3         9.605885e-02      0.094976      0.000000
20           T8         1.020050e-01      0.100754      0.000000
21    Tdewpoint         1.177584e-01      0.076668      0.000000
22           T6         2.364278e-01      0.213316      0.000000
23           T3         2.906397e-01      0.287408      0.000000
24         RH_1         5.535492e-01      0.511932      0.017880
25          rv1         2.310353e+10      0.000743     -0.000000

In [32]:
model.coef_

array([-3.28105119e-03,  5.53549215e-01, -2.36208162e-01, -4.56734747e-01,
        2.90639707e-01,  9.60588467e-02,  2.89883963e-02,  2.63956775e-02,
       -1.56601131e-02,  1.60097204e-02,  2.36427838e-01,  3.80482094e-02,
        1.03165251e-02, -4.46006227e-02,  1.02005044e-01, -1.57611297e-01,
       -1.89943266e-01, -3.98031547e-02, -3.21851878e-01,  6.84485399e-03,
       -7.76602744e-02,  2.91888047e-02,  1.23066006e-02,  1.17758418e-01,
        2.31035306e+10, -2.31035306e+10])

### The End!

**To drop comments and Follow for more of this:**

GitHub: https://github.com/Ajisco

LinkedIn: https://www.linkedin.com/in/ajibade-abdulquddus-ab5237159

Twitter: https://mobile.twitter.com/Dayo_Ajisco

Instagram: https://www.instagram.com/dayo_ajisco

Phone No./ WhatsApp No.: +2349030987312